/* GRID & PAGE ELEMENTS */
body {
		display: table;
   	margin-right: auto;
   	margin-left: auto;
		align-content: center;
}

a {
	text-decoration: none;
}

.full-width {
		margin: 0 auto;
		width: 1400px;
		padding: 10px 0 0 0;
}

.half-width {
		float: left;
  	width: 700px;
}

.third-width {
		float: left;
  	width: 466px;
		margin-left: auto;
		margin-right: auto;
}

/* HEADLINES */

h1 { /*Jessica McCormack at the top of the page */
		color: #fefefa;
		font-family: 'Playfair Display', 'Didot', 'serif';
		font-size: 27px;
		font-weight: 400;
		letter-spacing: 10px;
		padding: 10px 0 0 0;
		text-align: center;
		text-transform: uppercase;
}
h2 { /*section headers*/
		color: #a5d0a8;
		font-family: 'Playfair Display', 'Didot', 'serif';
		font-weight: 400;
		letter-spacing: 10px;
		text-align: center;
		text-transform: uppercase;

}
h2 span {
			color: #f3e367;
			font-size: 28px;
}
h3 { /* tagline at the top of the page */
		color: #fefefa;
		font-family: 'Arimo', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
		font-size: 18px;
		font-weight: 400;
		line-height: 8px;
		letter-spacing: 3px;
		text-align: center;
}
h4 { /* navigation links */
		color: #fefefa;
		font-family: 'Arimo', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 4px;
		text-align: center;
		text-transform: uppercase;
}

h4 span {
		color: #f3e367;
}

.portfolio-nav {
		color: #a5d0a8;
}
.portfolio-nav span {
		color: #f3e367;
}

p {
	color: #fefefa;
	font-family: 'Arimo', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 19px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	letter-spacing: 1px;
	padding-right: 70px;
}

/* HEADER */

header {
		background: url('../img/hero.png');
		background-size: cover;
		height: 800px;
		justify-content: center;
}

#header-nav-left {
		text-align: left;
		padding: 25px 0 0 75px;
}

#header-nav-left span {
		color: #f3e367;
}

#header-nav-right {
		padding: 25px 75px 0 0;
		text-align: right;
}
#header-nav-right span {
		color: #f3e367;
}

/* PORTFOLIO */

#portfolio-gd {
		background-color: #fefefa;
		height: 1850px;
}

#portfolio-ph {
		background-color: #fefefa;
		height: 1500px;
}

#portfolio-gd img {
		border: 1px solid #eeeeef;
		margin-bottom: 20px;
		margin: 0 auto;
}

#portfolio-ph img {
		border: 1px solid #eeeeef;
		margin-bottom: 20px;
		margin: 0 auto;
}

#portfolio-center {
		margin-top: 69px;
}


/* ABOUT */

#about {
	background-color: #79987b;
	height: 700px;
}

#about-left img {
		margin-left: 50px;
}

/* FOOTER */

#connect {
	background-color: #686e70;
	width: 100%;
	height: 225px;
	margin: 0;
}

#connect img {
	align-content: center;
	padding-left: 15px;
	padding-right: 15px;
}

#resume {
	text-align: center;
	margin-top: 25px;
}

#follow {
	text-align: center;
	margin-top: 45px;
}

#email {
	text-align: center;
	margin-top: 45px;
}

#connect2 {
	background-color: #686e70;
	width: 100%;
	height: 100px;

}
